*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    background: url(./images/1280px-Galaxy_cluster_IDCS_J1426.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
    background: #fefefe;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card .card-content img {
    border-radius: 50%;
    transform: translateY(-20%);
    border: 7px solid #fefefe;
    height: 200px;
    width: 50%;
}

.card .card-header {
    flex: 0.3;
}

.card .card-header img {
    width: 100%;
}

.card .card-content {
    flex: 0.5;
}

.card .card-content p:first-of-type {
    font-weight: bold;
    font-size: 24px;
    color: hsl(229, 23%, 23%);
}

.card .card-content p {
    color: hsl(227, 10%, 46%);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-2rem);
    letter-spacing: .1rem;
}

.card .card-footer {
    flex: 0.2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-top: 2px solid #d8d9df;
    color: hsl(229, 23%, 23%);
    padding: 2rem;
}

.card .card-footer .footer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card .card-footer .footer-item a {
    text-decoration: none;
    color: hsl(229, 23%, 23%);
    font-size: 1.4ch;
}

.card .card-footer .footer-item a:hover {
    opacity: 1;
    transition: 0.3s;
    font-size: 1.5ch;
}

.card .card-footer .footer-item .status {
    font-size: 20px;
    font-weight: 700;
}

/* footer */
.attribution {
    color: #d8d9df;
    word-spacing: .5ch;
    letter-spacing: .1rem;
}

.attribution a {
    color: #d8d9df;
}