/* Complete the CSS styling according to the provided design */

body {
    background: url(./images/table.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

h1 {
    color: goldenrod;
}

p {
    color: floralwhite;
}

#message-el {
    color: floralwhite;
}